.title {
  text-align: center;
  padding: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;
}

mat-card {
  max-width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  min-height: 350px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

mat-card-title {
  font-weight: bold;
  font-size: 1.3rem;
}

mat-card:hover {
  transform: scale(1.02);
  cursor: pointer;
  transition: all 0.3s;
}

span {
  display: block;
}
