<h1 class="title" role="heading">Store Products</h1>

<div class="container" role="main">
  <mat-card role="contentinfo" *ngFor="let bean of beans">

    <mat-card-header role="columnheader">
      <mat-card-title aria-label="title">{{ bean.flavorName }}</mat-card-title>
      <mat-card-subtitle aria-describedby="title">{{ bean.description }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="bean.image" alt="Bean" width="200px" height="150px">

    <mat-card-content role="contentinfo">
      <span><strong>GlutenFree:</strong> {{ (bean.glutenFree) ? "Yes" : "No" }}</span>
      <span><strong>SugarFree:</strong> {{ (bean.sugarFree) ? "Yes" : "No" }}</span>
      <span><strong>Seasonal:</strong> {{ (bean.seasonal) ? "Yes" : "No" }}</span>
      <span><strong>Kosher:</strong> {{ (bean.kosher) ? "Yes" : "No" }}</span>
      <p>{{ bean.ingredients }}</p>
    </mat-card-content>

  </mat-card>

</div>
